<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#example-navbar-collapse" aria-expanded="false">
        <span class="sr-only">导航</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">
        <img src="/assets/images/logo.png" height="100%" />
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a class="icon-bar">后台管理系统</a>
        </li>
        <li><a><i class="fa fa-user-circle"></i>菜单一</a>
        </li>
        <li><a><i class="fa fa-user-circle"></i>菜单二</a>
        </li>
        <li><a><i class="fa fa-user-circle"></i>菜单三</a>
        </li>
        <li><a><i class="fa fa-user-circle"></i>菜单四</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a><i class="fa fa-user-md fa-lg"></i>欢迎您,admin</a>
        </li>
        <li><a>安全退出<i class="fa fa-remove"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
